@{
    Layout = "~/Views/Shared/_landingLayout.cshtml";
}




<div class="site-blocks-cover inner-page" style="background-image: url('/landing/images/hero_1.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 mx-auto align-self-center">
                        <div class=" text-center">
                            <h1>About Us</h1>
                            <p>Welcome to Abd Pharma, your trusted online pharmacy solution designed to make healthcare more accessible,
                                efficient, and reliable. We are a technology-driven platform that connects patients, pharmacies,
                                and healthcare providers in one seamless ecosystem.</p>ˀ
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section bg-light custom-border-bottom" data-aos="fade">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-6">
                        <div class="block-16">
                            <figure>
                        <img src="~/landing/images/bg_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                                <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo">
                                    <span class="icon-play"></span>
                                </a>

                            </figure>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">


                        <div class="site-section-heading pt-3 mb-4">
                            <h2 class="text-black">How We Started</h2>
                        </div>
                        <p class="text-justify">
                            "Our pharmacy was founded with a vision to provide accessible, affordable, and high-quality healthcare
                            products to our community.We started our journey with a simple goal — to make trusted medicines and 
                            healthcare essentials easily available to everyone, everywhere."
                        </p>
                        <p class="text-justify">
                            "Driven by care and guided by integrity, we started our pharmacy to ensure that no one has to compromise when
                            it comes to their health."
                        </p>

                    </div>
                </div>
            </div>
        </div>



        <div class="site-section bg-light custom-border-bottom" data-aos="fade">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-6 order-md-2">
                        <div class="block-16">
                            <figure>
                        <img src="~/landing/images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                                <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo">
                                    <span class="icon-play"></span>
                                </a>

                            </figure>
                        </div>
                    </div>
                    <div class="col-md-5 mr-auto">


                        <div class="site-section-heading pt-3 mb-4">
                            <h2 class="text-black">We Are Trusted Company</h2>
                        </div>
                        <p class="text-black text-justify">
                            At ABD-Pharma, trust is at the core of everything we do. With a commitment to delivering genuine, high-quality
                            medicines and healthcare products, we have earned the confidence of thousands of customers. Our dedication to transparency,
                            reliability, and exceptional customer service sets us apart.
                        <p class="text-black text-justify">
                            it's prescription medicines, over-the-counter products,or expert guidance — you can count on us to put your health and
                            well-being first.We are more than just a pharmacy; we are your healthcare partner.
                            
                </p>
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
                        <div class="icon mr-4 align-self-start">
                            <span class="icon-truck text-primary"></span>
                        </div>
                        <div class="text">
                            <h2>Free Shipping</h2>
                            <p class="text-justify">

                                At ABD-Pharma, we offer free shipping on all orders,
                                ensuring that your essential medicines and health products reach your doorstep without any added delivery charges.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon mr-4 align-self-start">
                            <span class="icon-refresh2 text-primary"></span>
                        </div>
                        <div class="text">
                            <h2>Free Returns</h2>
                            <p class="text-justify">
                                Shop with confidence! We offer hassle-free returns on all eligible products so you can always feel secure with your purchase.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon mr-4 align-self-start">
                            <span class="icon-help text-primary"></span>
                        </div>
                        <div class="text">
                            <h2>Customer Support</h2>
                            <p class="text-justify">
                                Our dedicated customer support team is here to assist you 24/7 — whether you have a question about a product
                                or need help with your order, we're always ready to help.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="site-section bg-light custom-border-bottom" data-aos="fade">
            <div class="container">
                <div class="row justify-content-center mb-5">
                    <div class="col-md-7 site-section-heading text-center pt-4">
                        <h2>The Team</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 mb-5">

                        <div class="block-38 text-center">
                            <div class="block-38-img">
                                <div class="block-38-header">
                            <img src="~/landing/images/person_1.jpg" alt="Image placeholder" class="mb-4">
                                    <h3 class="block-38-heading h4">Elizabeth Graham</h3>
                                    <p class="block-38-subheading">CEO/Co-Founder</p>
                                </div>
                                <div class="block-38-body">
                                    <p>
                                        “At Abd-Pharma, we’re more than just a team — we’re a family committed to your well-being. Every order,
                                        every customer, and every interaction matters to us. Our pharmacists, customer care agents, and delivery
                                        staff work hand-in-hand to ensure you receive safe, timely, and caring service. Your trust is our greatest 
                                        reward, and we’re proud to serve you with heart and integrity every day.”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 mb-5">
                        <div class="block-38 text-center">
                            <div class="block-38-img">
                                <div class="block-38-header">
                            <img src="~/landing/images/person_2.jpg" alt="Image placeholder" class="mb-4">
                                    <h3 class="block-38-heading h4">Jennifer Greive</h3>
                                    <p class="block-38-subheading">Co-Founder</p>
                                </div>
                                <div class="block-38-body">
                                    <p>
                                        “At Abd-Pharma, we’re more than just a team — we’re a family committed to your well-being. Every order,
                                        every customer, and every interaction matters to us. Our pharmacists, customer care agents, and delivery
                                        staff work hand-in-hand to ensure you receive safe, timely, and caring service. Your trust is our greatest
                                        reward, and we’re proud to serve you with heart and integrity every day.”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 mb-5">
                        <div class="block-38 text-center">
                            <div class="block-38-img">
                                <div class="block-38-header">
                            <img src="~/landing/images/person_3.jpg" alt="Image placeholder" class="mb-4">
                                    <h3 class="block-38-heading h4">Patrick Marx</h3>
                                    <p class="block-38-subheading">Marketing</p>
                                </div>
                                <div class="block-38-body">
                                    <p>
                                        “At Abd-Pharma, we’re more than just a team — we’re a family committed to your well-being. Every order,
                                        every customer, and every interaction matters to us. Our pharmacists, customer care agents, and delivery
                                        staff work hand-in-hand to ensure you receive safe, timely, and caring service. Your trust is our greatest
                                        reward, and we’re proud to serve you with heart and integrity every day.”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 mb-5">
                        <div class="block-38 text-center">
                            <div class="block-38-img">
                                <div class="block-38-header">
                            <img src="~/landing/images/person_4.jpg" alt="Image placeholder" class="mb-4">
                                    <h3 class="block-38-heading h4">Mike Coolbert</h3>
                                    <p class="block-38-subheading">Sales Manager</p>
                                </div>
                                <div class="block-38-body">
                                    <p>
                                        “At Abd-Pharma, we’re more than just a team — we’re a family committed to your well-being. Every order,
                                        every customer, and every interaction matters to us. Our pharmacists, customer care agents, and delivery
                                        staff work hand-in-hand to ensure you receive safe, timely, and caring service. Your trust is our greatest
                                        reward, and we’re proud to serve you with heart and integrity every day.”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

